<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let product of products">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Product {{ product.id }}</h5>
              <p class="card-text">{{ product.title }}</p>
              <button class="btn btn-primary" (click)="addToCart(product.id)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p *ngIf="!(cart | async).length">Your cart is empty!</p>
      <div class="bg-light mb-3" *ngFor="let item of cart | async; let i = index">
        Product {{ item.id }} - <input type="text" [value]="item.quantity" (input)="updateItem(item, $event.target.value)">
        <button class="btn btn-danger" (click)="deleteItem(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
